.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-header {
  background-color: #222;
  /*height: 150px;*/
  height: 50px;
  color: white;
  padding: 20px;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: 50%;
  margin: auto;
}

#canvas {
  border: 1px solid black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.button-container > button {
  flex: 1;
  margin: 10px;
  height: 50px;
}
